{% extends 'base.html' %}
{% load bootstrap5 %}


{% block content %}


<div class="container d-flex justify-content-center">
    <div class="post-image">
        <h2 class="text-center">Update<span class="text-blue">Project</span> </h2>
        {{ form.errors }}
        <div class="form-group">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                 {% bootstrap_form form %}
                <button type="submit" class="d-inline-block btn btn-primary">Update</button>

            </form>
        </div>
    </div>
</div>



{% endblock %}

<!-- <div class="input mb-3" style="display: none;">
    {{ form.posted_by.label }}
    {{ form.posted_by }}
</div>
<script>
var name = '{{ user.pk }}';
document.getElementById('user').value = name;
</script> -->