{% extends 'registration/base.html' %}


{% block content %}
<div class="container ">
    <div class="row" style="margin-top:6rem;">
        <div class="col-md-6 text-center text-lg-start ">
            <img src="../../../static/images/photo_album_e8hj.svg" height="400rem" width="600rem" alt="">
        </div>
        <div class="col-md-6">
            <form id="register"
                class="d-flex flex-column justify-content-center align-items-center p-4 p-md-5 border rounded-3 bg-dark"
                action="" method="post">
                <div class="logo d-flex justify-content-center align-items-center">
                    <img src="../../../static/images/logo.png" width="45px" style="margin:2rem" height="45px" alt="">
                </div>
                {% csrf_token %}
                <div class="mb-2">
                    <div>
                        {{ rgf.first_name }}
                    </div>
                </div>
                <div class="mb-2">
                    <div>
                        {{ rgf.last_name }}
                    </div>
                </div>
                <div class="mb-2">
                    <div>
                        {{ rgf.username }}
                    </div>
                </div>
                <div class="mb-2">
                    <div>
                        {{ rgf.email }}
                    </div>
                </div>
                <div class="mt-2">
                    <div>
                        {{ rgf.password1 }}
                    </div>
                </div>
                <div class="mt-2">
                    <div>
                        {{ rgf.password2 }}
                    </div>
                </div>
                <div class="d-grid mt-2 gap-1">
                    <button type="submit" class="btn btn-outline-primary">Sign Up</button>
                </div>
                <input type="hidden" name="next" value="{{next}}">
            </form>
            <div class="direct">
                <p>Already have an account?
                    <a href="/">Login</a>
                </p>
            </div>    
        </div>
    </div>
</div>

{% endblock %}